.features {
  background: $white;
  padding-bottom: 30px;
}

.features .headerRow {
  display: flex;
  justify-content: center;
  text-align: center;
}

.features__header {
  width: 700px;
  padding-top: 30px;
  margin-bottom: 40px;

  h2 {
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    color: $secondary-color;
  }
  p {
    font-size: 20px;
  }
}

div.featuresGridRow {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.features__grid__Item {
  width: 280px;

  h3 {
    color: $secondary-color;
    font-size: 27px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    i {
      font-size: 60px;
      display: block;
      float: left;
      margin-right:10px;

    }
  }
a.videoLink {
margin-bottom: 15px;
display: block;
width: 100%;
height: 134px;
}

}

.CenteredRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .features__grid__Item {
    width: 600px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;

    h3 i {
      display: block;
      float: none;
      margin:0;

    }
  }
}
